<label for="inputText" class="form-label">id</label>
<input class="form-control" type="text" placeholder="id" ng-model="id">

<label for="inputText" class="form-label">Tên sp</label>
<input class="form-control" type="text" placeholder="Tên sp" ng-model="tenSP">

<label for="inputText" class="form-label">Giá bán</label>
<input class="form-control" type="text" placeholder="Giá bán" ng-model="price">

<label for="inputText" class="form-label">Số lượng tồn</label>
<input class="form-control" type="text" placeholder="Số lượng tồn" ng-model="quantity">

<label for="inputText" class="form-label">Giảm giá</label>
<input class="form-control" type="text" placeholder="Giảm giá" ng-model="discount">

<button type="button" class="btn btn-primary" ng-click="addSanPham()">Save</button>